#svg_1:hover {
	fill: red;
	stroke-dasharray:  10, 10;
}

#svg_2:hover {
	fill: yellow;
}

#svg_3:hover {
	stroke-width: 5;
}

#svg_8:hover {
	fill: white;
	stroke-width: 5;
	stroke-dasharray: 10, 5, 2, 5, 10;
}