.container {
	height: 300px;
	background-color: #d81709;
	position: relative;
}
.wrapper {
	background: url('../img/flag.png') no-repeat;
	width: 450px;
	position: absolute;
	left: 50%;
	height: 100%;
	margin-left: calc(450px / -2);
}